.policies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {

    display: flex;
    flex-direction: column;
}

.mainSide {
    /* position: absolute; */
    display: flex;
    width: 100%;
    padding: 0px 180px 48px 180px;
    gap: 10px;
    box-sizing: border-box;


}

.side {
    display: flex;
    box-sizing: border-box;
    padding: 0px 32px 0px 32px;
    gap: 10px;
    box-sizing: border-box;
    justify-content: center;

}

.policiesContents {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    justify-content: center;
}

.leftContents {
    display: flex;
    padding: 24px 0px 24px 0px;
    gap: 32px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    border: 1px solid #E3E3E3;
}

.rigtContents {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 48px 48px 48px 48px;
    gap: 32px;
    border-radius: 8px;
    border: 1px;
    box-sizing: border-box;
    border: 1px solid #E3E3E3;

}

.selected {
    color: #76B7E6;

}

.titles {
    display: flex;
    gap: 24px;
    box-sizing: border-box;
    padding: 0px 24px 0px 0px;
    display: flex;

}

.titles li {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;



}

.titles p {

    gap: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: left;

}

.title-print {
    width: 100%;
    gap: 0px;
    justify-content: space-between;
    align-items: start;
    display: flex;
}

.title-print {
    width: 100%;
    gap: 0px;
    display: flex;


}

.title h2 {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;

}

.print {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.policiesText {
    display: flex;

    gap: 32px;
    flex-direction: column;

}

.policiesText-1 {
    gap: 0px;
    padding: 24px;

}

.policiesText-1 p {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #212121;


}

.attention {
    padding: 16px;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #f2f4f4;
    display: flex;
    justify-content: center;
    align-items: start;

}

.attention svg {
    min-width: 24px;
}

.policiesText-2 {
    gap: 20px;


}

.policiesText-2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #212121;

}

.attention span {

    gap: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;


}

.footer img {
    width: 100%;
    display: flex;


}

.footer {
    width: 100%;
}

@media (max-width: 600px) {
    .policiesContents {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .leftContents {
        align-items: center;
        gap: 32px;
    }

    .rigtContents {
        flex-direction: column;
    }

    .title-print {
        justify-content: center;
        flex-direction: row;
    }

    .print {
        display: none;
    }

    .policiesText {
        display: flex;

        flex-direction: column;
    }

    .mainSide {
        padding: 0;
    }
}